<div class="header">
  <div class="column-header">
    <a href="./timeline.php" class="buttom-timeline">
      <img src="./img/instagram.jpg">
      <span id="instaTL">Insta</span>
      <span id="cloneTL">Clone</span>
    </a>
  </div>
  <div class="column-header">
    <a href="./consultaMobile.php"><img class="none" src="./img/pesquisar.jpg"></a>
    <h4 class="error"></h4>
    <h4 class="sucess"></h4>
    <form method="POST" action="./app/logic/processamento_consulta.php">
      <input type="text" class="text-search none-item" name="buscaTimeLine" placeholder="Busca..">
      <input type="submit" class="buttom butom-search none-item" value="Ir">
    </form>
  </div>
  <div class="column-header">
    <a href="./addFoto.php" class=""><img src="./img/buttom-add.jpg"></a>
  </div>
  <div class="column-header">
    <a href="#" class=""><img src="./img/nav.jpg"></a>
  </div>
  <div class="column-header">
    <a href="#" class=""><img src="./img/match.jpg"></a>
  </div>
  <div class="column-header">
    <a href="./perfil.php" class=""><img src="./img/perfil.jpg"></a>
  </div>
</div>
