* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F2F2F2F2;
}

a{
  cursor: pointer;
  margin-left: 8px;
}

.error ul{
  color: #AF0505;
  font-size: 12px;
  text-align: left;
  background-color: #EF6767;
  border-radius: 6px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
}

.sucess ul{
  color: #009E07;
  font-size: 12px;
  text-align: left;
  background-color: #93ff93;
  border-radius: 6px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
}

.buttom-perfil{
  background-color: white;
  color: #333;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttom-perfil:hover, .buttom-perfil:active {
  background-color: #DDD;
}

/* Style the header */
.header {
  background-color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  border-bottom: solid thin #D1D1D1;
}

.column-header{
  display: inline-block;
  width: auto;
  padding: 10px;
}

#instaTL{
  font-family: 'Sofia';
  font-size: 18pt;
  color: black;
}

#cloneTL{
  font-family: 'Sofia';
  font-size: 18pt;
  color: #2A4B7C;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.column-gallery{
  float: left;
  width: 33%;
  padding: 15px;
}

.perfil-fixed{
  position: fixed;
  width: 30%;
  display: block;
  margin-left: 40px;

  padding-left: 55px;
}

.area-fixed-historia {
  position: fixed;
  width: 35%;
  display: block;

  background-color: white;
  border: solid thin #D1D1D1;
  margin-left: 40px;

  padding: 0px;
  height: 160px;
  overflow-y: scroll;
}

.area-fixed{
  position: fixed;
  width: 35%;
  display: block;

  background-color: white;
  border: solid thin #D1D1D1;
  margin-left: 40px;

  padding: 0px;
}

.painel-body-feed{
  width: 100%;
  display: block;

  background-color: white;
  border: solid thin #D1D1D1;
  margin-left: 40px;
  margin-bottom: 45px;
}

.painel-foto-feed{
  width: 100%;
  height: 500px;
}

.foto-username{
  width: 65px;
  height: 65px;
  border-radius: 100%;
}

.fotinha-timeline{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.painel-perfil{
  min-width: 20%;
  padding-right: 30px;
  padding-left: 30px;
  vertical-align: middle;
}

.foto-perfil{
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.foto-gallery{
  width: 90%;
  height: 250px;
}

/*.foto-gallery:hover{
  opacity: 0.5;
}*/

.align-right{
  float: right;
}

.align-left{
  float: left;
}

.area-inlineblock{
  display: inline-block;
}

.align-center{
  float: center;
  text-align: center;
}

.none{
  display: none;
}

.column-feed{
  float: left;
  width: 100%;
}

.column-item{
  width: 100%;
  padding: 5px;
}

.column-perfilALT{

}

.painel-perfilALT{
  width: 60%;
  border: solid thin #D1D1D1;
  background-color: white;
  margin: 0px;
  text-align: center;
}

/* Estilo area perfil*/

.background-perfilALT{
  width: 100%;
  margin: 0px;
  justify-content: center;
  display: flex;
}

/* Estilos de inputs */
.text-editar{
  width: 80%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px thin #D1D1D1;
  transition: 0.5s;
  outline: none;
  margin-bottom: 10px;
}

.text-feed{
  width: 85%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px thin #D1D1D1;
  transition: 0.5s;
  outline: none;
}

.text-search{
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #D1D1D1;
  border-radius: 2px;
  background-color: #FAFAFA;
  padding: 6px 20px 6px 40px;
}

.text-search:focus{
  background-color: white;
  border: 2px solid #D1D1D1;
}

.buttom-publish{
  width: 13%;
  color: #0CC0FF;
  padding:12px;
  background-color: white;
  border: white;
}

.buttom-publish:hover{
  color: #00F;
  background-color: #8FC4F7;
  border: 2px solid #4B80F7;
}

.buttom{
  width: auto;
  color: white;
  background-color: #0CC0FF;
  border: #0CC0FF;
  border-radius: 2px;
  cursor: pointer;
}

.buttom:hover{
  color: white;
  background-color: #0990FF;
  border: #0990FF;
  cursor: pointer;
}

.buttom-search{
  padding-top: 6px;
  padding-bottom: 6px;
}

.formulario{
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
}
.column-15{
  width: 20%;
  text-align: right;
}

.column-80{
  width: 79%;
}

.block_comentario{
  text-align: auto;
  margin-bottom: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:1050px) {
  .column-header{
    display: inline-block;
    width: auto;
    margin: 0px
  }

  #instaTL{
    display: none;
  }

  #cloneTL{
    display: none;
  }

  .text-search{
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #D1D1D1;
    border-radius: 2px;
    background-color: #FAFAFA;
    padding: 3px 8px 3px 12px;
  }

  .none{
    display: none;
  }

  .painel-body-feed{
    width: 100%;
    margin: 0px 0px 30px 0px ;
  }

  .painel-foto-feed{
    width: 100%;
    height: 350px;
  }

  .painel-perfilALT{
    width: 95%;
    border: solid thin #D1D1D1;
    background-color: white;
    margin: 0px;
    text-align: center;
  }
}

@media screen and (max-width:530px){
  .column-header{
    display: inline-block;
    width: auto;
    margin: 0px 2px;
    padding: 20px 0px 0px 0px;
  }

  #instaTL{
    display: none;
  }

  #cloneTL{
    display: none;
  }

  .text-search{
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #D1D1D1;
    border-radius: 2px;
    background-color: #FAFAFA;
    padding: 3px 8px 3px 12px;
    display: none;
  }

  .none-item{
    display: none;
  }

  .none{
    display: inline-block;
  }

  .column {
    width: 100%;
  }

  .painel-body-feed{
    width: 100%;
    margin: 0px 0px 30px 0px ;
  }

  .painel-foto-feed{
    width: 100%;
    height: 350px;
  }

  .painel-perfilALT{
    width: 95%;
    border: solid thin #D1D1D1;
    background-color: white;
    margin: 0px;
    text-align: center;
  }

  .perfil-fixed{
    display: none;
  }

  .area-fixed-historia{
    display: none;
  }

  .area-fixed{
    display: none;
  }
}
