* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}

body, html {
  padding: 3px 3px 3px 3px;

  /* background-image: url("./img/background.jpg"); */

  font-family: 'Roboto', 'Indie Flower', 'Sofia', sans-serif;
  font-size: 14pt;
  text-align: right;
}

.background-photo{
  background: url("./img/background.jpg");
  background-color: #F2F2F2F2;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-clip: content-box; */
}

.panel-title{
  position: relative;
  display: inline-block;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

  padding-top: 25px;
  padding-left: 60px;
  padding-right: 10px;
  padding-bottom: 10px;

  width: 100%;
  background-color: #FFFFFF;
  text-align: left;
  font-size: 12pt;
  border: solid #E9ECF3;
  border-radius: 10px;

  opacity: 0.80;
}

.object-panel-title{
  text-align: auto;
  width: auto;
  display: inline-block;
}

.align-right{
  float: right;
}

.panel{
  position: relative;
  display: table;

  margin-top: 35px;
  margin-left: auto;
  margin-right: 15px;

  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  width: 400px;
  background-color: #FFFFFF;
  text-align: center;
  border: solid #E9ECF3;
  border-radius: 10px;

  opacity: 0.80;
}

.titulo{
  font-size: 28pt;
}

#insta{
  font-family: 'Sofia';
  font-size: 28pt;
  color: black;
}

#clone{
  font-family: 'Sofia';
  font-size: 28pt;
  color: #2A4B7C;
}

p{
  font-size: 14px;
}

.formulario{
  font-size: 18px;
  padding-left: 32px;
  padding-right: 32px;
}

.text {
  font-size: 12px;
  width: 100%;
  padding: 8px 20px;
  margin: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.text-login {
  font-size: 10px;
  width: 100px;
  padding: 6px 16px;
  margin: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.text-focus:focus {
  border: 3px solid #0F0;
  border-radius: 5px;
}

.password {
  font-size: 12px;
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-login {
  font-size: 10px;
  width: 100px;
  padding: 6px 16px;
  margin: 8px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-focus:focus {
  border: 3px solid #0F0;
  border-radius: 5px;
}

.buttom{
  background-color: #2A4B7C;
  border: none;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttom-login{
  background-color: #2A4B7C;
  border: none;
  color: white;
  width: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 12pt;
  cursor: pointer;
}

.buttom-focus:hover{
  background-color: #00F;
}

a:link, a:visited {
  background-color: #2A4B7C;
  color: white;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  background-color: #00F;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 23px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox{
  widht: 10%;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
